.recipeCard {
    
    background-color: #e6dbb6;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 500px;
    height: auto;
    margin: 20px;
    padding: 10px;
    display: inline-block;
    text-align: left;
  }
  
  .recipeCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .recipeCard hr {
    border-top: 1px solid #cc5970;
    margin-top: 0;
  }
  
  .cueCard {
    background-color: #fff;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    padding: 10px;
    border: 2px solid #000;
  }
  
  .cueCard h2 {
    margin-top: 0;
  }
  
  .cueCard p {
    margin-bottom: 0;
  }